# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.env/
*.env

.vscode/
.idea/

*.cover
*.coverage
.coverage.*
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.log

dist/
build/
*.egg-info/
*.egg

.ipynb_checkpoints/

*.sqlite3
*.db
*.bak
*.swp
*.swo
.DS_Store